.ItemDetailConteiner{
  display: flex;
  border: 2px solid black;
  width: 100%;
  margin-bottom: 20px;
  
}
.ItemDetail {
  display: flex;
  flex-direction: row;
}

/* Imagen */
.itemImg{
  height: 100%;
  width: 450px;
  margin-right: 40px;
}

.itemImg img{
  width:  100%;
  height: 60%;
  margin-top: 30px;
  
}

/* Contenido */
.ItemContent{
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-right: 30px;
}

.ItemContent h3{
  margin-left: 30%;

}




.btn-volver{
  /* align-self: flex-end; */
  cursor: pointer;
  left: 20px;
  font-size: 20px;
  font: bold;
  margin: 5px;
  position: relative;
  left: 95%;
}


.itemCount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 12%;
}

.countItem{
  font-size: 18px;
}


.btnaddCarrito{
  width: 200px;
  color: white;
}