.ItemDetailConteiner{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 80%;
  justify-content: flex-end;
  margin-left: 10%
  
}

.btn-volver{
 align-self: flex-end;
  cursor: pointer;
  left: 20px;
  font-size: 20px;
  font: bold;
  margin: 5px;
}

.ItemDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}


.ItemDetail img {
    width:  600px;
    height: 400px;
    margin: 10px;
}   

.ItemContent{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: space-between;
  height: 450px;
  width: 12121200px;
}


.ItemDetail p   {
    font-size: 20px;
    margin: 10px;
}