.ItemsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
.shoplist{
  display: flex;
  margin: '0 auto';
  max-width: 80%;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.shoplist:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  background-color: white;
}

.Item{
   margin: 5px;
   display: flex;
   flex-direction: column;
   width: 400px;
}  

.Item img{
    object-fit: cover;
    width: 200px;
}

.btnitemlist{
  text-decoration: none;
  background-color: red;
}
