.ItemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.shoplist{
  display: flex;
  margin: '0 auto';
  max-width: 80%;
  align-items: center;
}

.Item{
   margin: 5px;
   display: flex;
   flex-direction: column;
   width: 400px;
}  

.Item img{
    object-fit: cover;
    width: 200px;
}